<img src="assets/images/{{model.CurrentPlayer.img}}.png" 
     alt="profile" class="avatar pull-left" width="200">

<h1>{{model.CurrentPlayer.name}}</h1>
<br>
<div class="league medium ach1">
    <img src="assets/images/{{model.CurrentPlayer.team}}.png" 
     alt="{{model.CurrentPlayer.team}}" width="100">
</div>

{{outlet}}
